* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: #FFF8E1 ;
}

header {
    display: inline;
    justify-content: space-between;
    animation: fadein 0.7s ease-in-out;
    font-family: 'Archivo Black', sans-serif;
}

.cabecalho {
    background-color: #1B5E20;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.589);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin: 0;
}

.cabecalho img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.cabecalho nav {
    display: inline;
    justify-content: space-between;
}

.cabecalho nav ul {
    list-style: none;
    padding: 15px;
    display: flex;
    gap: 55px;
}

.cabecalho nav ul li {
    transition: transform 0.3s ease;
}

.cabecalho nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    justify-content: space-between;
    transition: color 0.3s ease;
}

.cabecalho nav ul li:hover {
    transform: scale(1.1);
}

.cabecalho nav ul li a:hover {
    color: #FFEB3B;
}